<span 
    class="tc-topic-badge tc-topic-badge-red"
    data-html-tooltip="
        <span class=\"tc-tooltip\">
            完成
            {{!-- <a href=\"https://tidb.io/account/organization/new\" target=\"_blank\" rel=\"noreferrer\"> --}}
                团队认证
            {{!-- </a> --}}
            ，解锁加急功能
        </span>"
>
    已加急
</span>
