/*
 * The `tc-` prefix represents `tidb-community` preventing style pollution.
 */

/*
 * Topic badges are shown after topic's title
 */
.tc-topic-badge {
    display: inline-block;
    padding: 2px 4px;
    line-height: 1;

    font-size: $font-down-2;
    vertical-align: text-top;

    border: 1px solid;
    border-radius: 2px;

    &-red {
        color: #cf1322;
        background: #fff1f0;
        border-color: #ffa39e;
    }
}

/*
 * Some common overwrites for tidb community content.
 */
.tc-content {
    a {
        color: #354ede;
        text-decoration: none;
        cursor: pointer;
    }
}