/*
 * The `tc-` prefix represents `tidb-community` preventing style pollution.
 */

/*
 * Topic badges are shown after topic's title
 */
.tc-topic-badge {
    display: inline-block;
    padding: 2px 4px;
    line-height: 1;

    font-size: $font-down-2;
    vertical-align: text-top;

    border: 1px solid;
    border-radius: 2px;

    &-red {
        color: #cf1322;
        background: #fff1f0;
        border-color: #ffa39e;
    }
}

/*
 * Some common overwrites for tidb community content.
 */
.tc-dark-content {
    a {
        color: #8193ff;
    }
}

/*
 * Avatar wrapper for verified icon
 */
.tc-verified-avatar-wrapper {
    position: relative;
    max-width: min-content;
    max-height: min-content;

    &::before {
        content: " ";
        display: block;
        position: absolute;
        width: calc(100% * 8 / 25);
        height: calc(100% * 8 / 25);
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background-image: image-url("verified.svg");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    // some wrapped img are floating.
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

// some wrapped img has margins

// small-action
.small-action .small-action-desc .tc-verified-avatar-wrapper {
    margin-right: 0.8em;

    .avatar {
        margin-right: 0;
    }
}

// user-main
.user-main {
    .about.collapsed-info .details .tc-verified-avatar-wrapper {
        margin-right: 20px;

        img.avatar {
            margin-right: 0;
        }
    }
    .about:not(.collapsed-info) .details .tc-verified-avatar-wrapper {
        margin: 0 20px 10px 0;

        img.avatar {
            margin: 0;
        }
    }
}

// topic-map
.topic-map .tc-verified-avatar-wrapper {
    margin-right: 4px;

    .avatar {
        margin-right: 0;
    }
}
